<div style=" display: inline; margin-right: calc(100% - 20px) ">
    <div class="footerCont">
        <span style="font-weight:bold"> Contact: </span>
        <p> Samraj, </p>
        <p> Web Developer, </p>
        <p> Phone: +353-892234816 </p>
        <p> Email: handcraft@info.com </p>
    </div>
    <div id="footer" class="footer-social-icons footerMedia">
        <h4 class="_14">Follow us on</h4>
        <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
</div>
    <div id="footer-note">
        <div class="container clearfix">
            <p class="footer-info"></p>
            <div class="textwidget"><p>Copyright © 2018 samrajs.muke@gmail.com | All Rights Reserved </div>
            <p></p><p></p>
     </div>
    
</div>