<img style="width:100% !important" src="../../images/img2.jpg"/>
<div class="home-container">
    <h1> HandCraft </h1>
    <p> Handcraft made simple. You can order/personalize your own handcraft items available at us. </p>
    <p> If you cannot see the products available under product page and you know the product name/id. Please request it from contact page. </p>
</div>
<div style="display:inline-flex;padding:4px">
    <div class="home-container" style="width:47%">
        <h1> HandCraft </h1>
        <p> Handcraft made simple. You can order/personalize your own handcraft items available at us. </p>
        <p> If you cannot see the products available under product page and you know the product name/id. Please request it from contact page. </p>
    </div>
    <div style="width:6%"></div>
    <div class="home-container" style="width:47%">
        <h1> HandCraft </h1>
        <p> Handcraft made simple. You can order/personalize your own handcraft items available at us. </p>
        <p> If you cannot see the products available under product page and you know the product name/id. Please request it from contact page. </p>

    </div>
</div>